<!DOCTYPE html>
<html>
<head>
<title>{{.Title}}</title>
<script>
function toggleLzl(thread_id) {
    var x = document.getElementById('lzl'+ thread_id);
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
<style>
.lzl {
    border-style: solid;
    border-width: thin;
    border-color: #000000;
}
</style>
</head>
<body>
<h1>{{.Title}}</h1>
<div><a href="{{.Url}}">{{.Url}}</a></div>
<hr />
{{range .Comments}}
<div>
    <div>
        <div>{{.Time}} #{{.PostNO}}: <b>{{.UserName}}</b></div>
        <div>{{.Content}}</div>
    </div>
    {{if index $.Lzls .PostID}}
    <button onclick="toggleLzl({{ .PostID }})">收起回复</button>
    <div id="lzl{{.PostID}}" class="lzl">
        {{$lzl := index $.Lzls .PostID }}
        {{range $lzl.Info}}
        <div>{{.Time}} <b>{{.UserName}}</b>: {{.Content}}</div>
        {{end}}
    </div>
    {{end}}
    <hr />
</div>
{{end}}
</body>
</html>
